@model List<ApplicationUser>
@{
    ViewData["Title"] = "Home Page";
}

<br>

<table style="text-align: center">
    <tr>
        <th>Users</th>
        <th>Delete</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td><a asp-controller="Journal" asp-action="Index" asp-route-id="@item.Id">@item.UserName</a></td>
            <td><a asp-controller="Home" asp-action="Delete" asp-route-id="@item.Id">Delete</a></td>
        </tr>
    }
</table>
