@model Budget
@{
    ViewData["Title"] = "Set budget";
}

<br>
<div class="content">
    <form asp-action="SetBudget">
        <input asp-for="UserID" value="@Model.UserID" type="hidden">
        <label asp-for="Period">期間</label>
        <input asp-for="Period" type="date">
        <label asp-for="Food">食物</label>
        <input asp-for="Food" type="number">
        <label asp-for="Transport">交通</label>
        <input asp-for="Transport" type="number">
        <label asp-for="Entertainment">娛樂</label>
        <input asp-for="Entertainment" type="number">
        <br>
        <label asp-for="Shopping">購物</label>
        <input asp-for="Shopping" type="number">
        <label asp-for="Personal">個人雜支</label>
        <input asp-for="Personal" type="number">
        <label asp-for="Learning">學習</label>
        <input asp-for="Learning" type="number">
        <label asp-for="Other">其他</label>
        <input asp-for="Other" type="number">
        <input type="submit" value="加入">
    </form>
</div>