@model SignInViewModel
@{
    ViewData["Title"] = "Sign In";
}

<br>
<div>
    <form method="post">
        <label asp-for="Name">名稱</label>
        <input asp-for="Name">
        <label asp-for="Password">密碼</label>
        <input asp-for="Password" type="password">
        <label asp-for="RememberMe"></label>
        <input type="checkbox" asp-for="RememberMe" value="true">
        <input type="submit" value="登入">
    </form>
</div>