@model ApplicationUser
@{
    ViewData["Title"] = "Journal Page";
}

<br>

<div>
    <button style="float:right"><a asp-action="Add_Revenue" asp-route-id="@Model.Id">新增收入</a></button>
    <button style="float:right"><a asp-action="Add_Expense" asp-route-id="@Model.Id">新增支出</a></button>
</div>
<div class="content">
    <dl>
        <dt>名稱</dt>
        <dd>@Model.UserName</dd>
        <dt>餘額</dt>
        <dd>@Model.Balance</dd>
    </dl>
</div>